 <footer>
    <script src="<%= request.mainURL %>/public/js/jquery-3.3.1.min.js"></script>
    <script src="<%= request.mainURL %>/public/js/popper.min.js"></script>
    <script src="<%= request.mainURL %>/public/js/bootstrap.min.js"></script>
    <script src="<%= request.mainURL %>/public/js/sweetalert.min.js"></script>
    
    <script>
        function confirmDeleteFile(form) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then(function(willDelete) {
                if (willDelete) {
                    document.getElementById("form-delete-file").submit();
                }
            });
        }
        
        // send the request to server to download the file
        function downloadFile(self) {
            var _id = self.getAttribute("data-id");

            self.innerHTML = "Loading...";
            self.setAttribute("disabled", "disabled");

            var ajax = new XMLHttpRequest();
            ajax.open("POST", document.getElementById("base-url").value + "/DownloadFile", true);

            ajax.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        // console.log(this.responseText);
                        var data = JSON.parse(this.responseText);
                        // console.log(data);

                        self.removeAttribute("disabled");
                        self.innerHTML = "Download";

                        if (data.status == "error") {
                            swal("Error", data.message, "error");
                        }

                        if (data.status == "success") {

                            // response will be a buffer array
                            // convert that into base64

                            var binary = '';
                            var bytes = new Uint8Array( data.arrayBuffer.data );
                            var len = bytes.byteLength;
                            for (var i = 0; i < len; i++) {
                                binary += String.fromCharCode( bytes[ i ] );
                            }
                            var base64 = window.btoa( binary );
                            base64 = "data:" + data.fileType + ";base64," + base64;
                            // console.log(base64);

                            // download the file
                            const fileName = data.fileName;
                            const link = document.createElement('a');
                            // Browsers that support HTML5 download attribute
                            if (link.download !== undefined) {
                                link.setAttribute("href", base64);
                                link.setAttribute('download', fileName);
                                link.style.visibility = 'hidden';
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                            }
                        }
                    }

                    if (this.status == 500) {
                        console.log(this.responseText);
                    }
                }
            };

            var formData = new FormData();
            formData.append("_id", _id);
            ajax.send(formData);
        }
    </script>
    
    <footer class="text-gray-600 body-font">
        <div
            class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
            <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
                <a
                    class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-10 h-10 text-white p-2 bg-pink-500 rounded-full" viewBox="0 0 24 24">
                        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                    </svg>
                    <span class="ml-3 text-xl">VShare</span>
                </a>
                <p class="mt-2 text-sm text-gray-500">File Sharing Web Application</p>
            </div>
            <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES
                    </h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a  href="<%= request.mainURL %>/about">About Us</a>
                            
                        </li>

                    </nav>
                </div>


            </div>
        </div>
        <div class="bg-gray-100">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">© 2021 VShare
                    <a href="https://twitter.com/knyttneve" rel="noopener noreferrer"
                        class="text-gray-600 ml-1" target="_blank">@SPS</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-500" href="https://www.facebook.com/home.php">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>

                    <a class="ml-3 text-gray-500" href="https://www.instagram.com/pritam_pashte_/">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                   
                    <a class="ml-3 text-gray-500" href="https://www.linkedin.com/in/shivani-gupta-0b103020b">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </footer>
</footer>